{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container" style="width: 80%; background-color: rgba(255,254,250,0.36)">
        <h4>Saison {{ season.id }} de {{ program.getTitle }}</h4>
        <hr>
        <div>
            <p>Liste des épisodes :</p>
            <ul>
                {% for episode in season.getEpisodes %}
                    <a href="{{ path('wild_show_episode', {'id': episode.id}) }}"><h5>Episode {{ episode.number }} : {{ episode.title }}</h5></a>
                    <p>{{ episode.synopsis }}</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}